* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* import fonts */
@font-face {
  font-family: "Kumbh Regular";
  src: url(./fonts/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: "Kumbh Bold";
  src: url(./fonts/KumbhSans-Bold.ttf);
}

html {
  --title: calc(1.625rem + 1vw);
  height: auto;
}


/* Mobile-view */
body {
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  background-repeat: no-repeat;
  padding: 9.2rem 1.44rem 5.25rem;
}

.card {
  width: 328px;
  height: 500px;
  border-radius: 25px;
  padding: 8.31rem 1rem 3rem 1rem;
  background-color: whitesmoke;
}

/* left side card */
.desktop-box {
  display: none;
}

.leftsvg {
  position: absolute;
  transform: translateY(-240px);
  z-index: 0;
}

#line-box {
  display: none;
}

#box-shadow {
  position: absolute;
  z-index: 1;
  transform: translate(-240px, 110px);
}

/* right side FAQ */
.faq h2 {
  text-align: center;
  font-family: "Kumbh Bold";
  font-size: var(--title);
  font-weight: 600;
  padding-bottom: 1.8rem;
  color: hsl(238, 29%, 16%);
}

.question-container {
  width: 100%;
}

/* arrow down buttons */
.question {
  display: flex;
  justify-content: space-between;
}

.question a {
  font-family: "Kumbh Regular";
  font-size: 0.9rem;
  font-weight: 300;
  color: hsl(237, 12%, 33%);
  text-decoration: none;
}

.question1a:focus {
  font-family: "Kumbh Bold";
  font-weight: 500;

}

.question button {
  align-self: center;
  background-image: url(./images/icon-arrow-down.svg);
  width: 10px;
  height: 8px;
  right: 15%;
  border: none;
}

.question a, .question button:hover {
  cursor: pointer;
}

.question a:hover {
  color: hsl(14, 88%, 65%);
}


/* answer for each question */
span {
  display: none;
}

span p {
  font-family: "Kumbh Regular";
  font-size: 0.75rem;
  color: hsl(240, 6%, 50%);
  padding: 0.5rem 0rem 1rem 0rem;
}

/* Thematic break */
.faq hr {
  border: 0;
  border-top: 1px solid hsl(240, 5%, 91%);
  height: 0;
  margin: 1rem 0rem 1rem 0rem;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(240, 4%, 95%);
}

.attribution a {
  color: hsl(240, 4%, 95%);
}

/* desktop view */
@media screen and (min-width: 1170px) {
  body {
    padding: 8.25rem 15rem;
  }
  main {
    width: 918px;
    height: 511px;
  }
  .card {
    width: auto;
    height: 513px;
    padding: 4.375rem 5rem 3rem 1rem;
    z-index: 2;
    display: flex;
    justify-content: end;
  }

  .desktop-box {
    display: inline-block;
    transform: translate(-18rem, 8.5rem);
  }
  .leftsvg {
    display: none;
  }

  .card {
    background-image: url(./images/illustration-woman-online-desktop.svg),
      url(./images/bg-pattern-desktop.svg);
    background-size: 450px 350px, 850px 850px;
    background-position: top 4.7rem left -4.5rem, top -15rem left -29.5rem;
    background-repeat: no-repeat;
  }

  .faq {
    width: 452px;
    height: 420px;
    padding-left: 4rem;
  }

  .faq h2 {
    text-align: left;
    padding-bottom: 2.2rem;
  }

  .question-container {
    width: 95%;
  }
}
