* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Kumbh Regular";
  src: url(./fonts/KumbhSans-Regular.ttf);
}

@font-face {
  font-family: "Kumbh Bold";
  src: url(./fonts/KumbhSans-Bold.ttf);
}

html {
  --title: calc(1.625rem + 1vw);
}

body {
  background: linear-gradient(180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  padding: 9.2rem 1.44rem 5.25rem;
}

.card {
  width: 328px;
  height: 500px;
  border-radius: 25px;
  padding: 8.31rem 1rem 3rem 1rem;
  background-color: whitesmoke;
}

.leftsvg {
  position: absolute;
  transform: translateY(-240px);
  z-index: 0;
}

#box-shadow {
  position: absolute;
  z-index: 1;
  transform: translate(-240px, 110px);
}

.faq h2 {
  text-align: center;
  font-family: "Kumbh Bold";
  font-size: var(--title);
  font-weight: 600;
  padding-bottom: 1.8rem;
  color: hsl(238, 29%, 16%);
}

.question {
  display: flex;
  width: 280px;
}

.arrow {
  order: 2;
  background-image: url(./images/icon-arrow-down.svg);
  width: 10px;
  height: 8px;
  position: absolute;
  transform: translateY(5px);
  right: 15%;
}

.QA {
  width: 260px;
}

.question a {
  font-family: "Kumbh Regular";
  font-size: 0.9rem;
  font-weight: 300;
  color: hsl(237, 12%, 33%);
  text-decoration: none;
  order: 1;
}

.question a:hover {
  color: hsl(14, 88%, 65%);
}

.question p {
  font-family: "Kumbh Regular";
  font-size: 0.75rem;
  color: hsl(240, 6%, 50%);
  padding: 0.5rem 0rem 1rem 0rem;
}

.QA div {
  display: none;
}

.faq hr {
  border: 0;
  border-top: 1px solid hsl(240, 5%, 91%);
  height: 0;
  margin: 1rem 0rem 1rem 0rem;
  width: 95%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(240, 4%, 95%);
}

.attribution a {
  color: hsl(240, 4%, 95%);
}

@media screen and (min-width: 955px) {
  .card {
    width: 919px;
    height: 507px;
    display: flex;
    position: relative;
  }
  .leftsvg {
    position: relative;
    transform: none;
  }

  #illustration {
    width: 389px;
    height: 363px;
  }
}
